#title-container {

  /* Use a font where you can use a background clip */
  /* font-family: 'Lobster', cursive; */
    margin: 0px;
    padding: 1em;
    
    text-align: center;
    user-select: none;
    z-index: 1;
    text-shadow: 10px 5px 5px #000;
    /* -webkit-background-clip: text;
    background-clip: text; */
    /* background-image: url('https://media.discordapp.net/attachments/1005451926147694632/1101105405419073566/TheSheep_web_designing_css_html_scripting_programming_artistic__63b84601-b368-4bf1-961b-ec2b993869ce.png?width=805&height=451'); */
    /* color: transparent; */
    background-repeat: no-repeat;
    color:#222;
    /* background-size: 100%; */
    background-position: center;
    /* make background fit the whole text but dont ruin it*/
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.089); */

  }
  /* #main-title {
    font-size: 5em;
    font-weight: 900px;
    text-shadow: 10px 0px 0px #222;
  }

  #sub-title {
    font-size: 3em;
    font-weight: 900px;
    text-shadow: 5px 0px 0px #D4AF37;
  } */
