.slidecontainer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  /* make this unclickable */
  /* pointer-events: n */
  cursor: col-resize; /* Cursor on hover */
}

/* set up a variable that can be used for the location of the slider cursor */
:root {
  --sliderCursor: url("./arrows-resize_2.png") 65 50, auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  background: none;
  cursor: var(--sliderCursor);

  /* outline: none; Remove outline */
  opacity: 0.0001; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.5s; /* 0.2 seconds transition on hover */
  transition: opacity 0.5s;
  /* mouse pointer should be two arrows */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4px;
  height: 300px;
  /* background: #000000; */

  border: none;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 4px; /* Set a specific slider handle width */
  height: 300px;
  /* background: #000000; */
  border: none;
}
