body {background:#F5D6B4;   height: 100%;
}
#f,#h,#j,#b,#d,#a{border-radius:50%;aspect-ratio:1/1;}
#f,#h,#j,#b{border:20px solid #D86F45;}
#c,#e,#g,#i{overflow:hidden;}
#d,#a{position:absolute;background:#D86F45;width:20px;top:140px;}
#d{left:160px;}
#a{left:80px;}
#b,#f{position:relative;display:flex;justify-content:center;align-items:center;}
#b{top:-100px;width:160px;}
#f{width:120px;}
#h{width:80px;}
#j{width:40px;}
#e,#c{position:relative;top:70px;}
#e{height:80px;left:120px;}
#c{left:80px;}