.slidecontainer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  /* background: red; */
  z-index: 1;
  /* make it so that I can click past this element */
  pointer-events: none;
  /* make this unclickable */
  /* pointer-events: n */
  cursor: col-resize; /* Cursor on hover */
}

/* set up a variable that can be used for the location of the slider cursor */
:root {
  --sliderCursor: url("./arrows-resize_2.png") 65 50, auto;
}

/* The slider itself */
.slider {
  /* display: none; */
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  /* background: yellow; */

  /* outline: none; Remove outline */
  /* opacity: 0; */
  -webkit-transition: 0.5s; /* 0.2 seconds transition on hover */
  transition: opacity 0.5s;
  /* mouse pointer should be two arrows */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0.1;
  display: block;
}

/* only show slider container if user hovers over the thumb */
.slider:hover + .slidecontainer {
  opacity: 1;
}

.slider.slider::-moz-range-thumb:hover {
  background-color: yellow;
  display: block;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px;
  height: 200px;
  /* background: #000000; */
  cursor: var(--sliderCursor);

  z-index: 100;
  border: none;
}

.slider::-moz-range-thumb {
  appearance: none;

  width: 10px; /* Set a specific slider handle width */
  height: 100%;
  /* no rounded corners */
  border-radius: 0%;
  background: #000000;
  cursor: var(--sliderCursor);
  z-index: 100;

  border: none;
}
