.navbar {
  /* backdrop-filter: invert(100%); */
  height: fit-content;
  /* background-color: rgba(255, 255, 255, 0.5); */
  flex: 1 0 100%;
  z-index: 2;

}

button {
  color: rgb(255, 255, 255);

}

button:hover {
  backdrop-filter: blur(2px);
  transform: backdrop-filter 1s;
}
