

/* change scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: absolute;
  
  /* round the corners */
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #333;  */
  /* border-radius: 10px; */
  /* background: #333; */
  padding: 20px;
  position: absolute;


}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#444; 
  /* give it a shadow */
  border-radius: 10px;
  position: absolute;



}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}